In [1]:
%env ANYWIDGET_HMR=1

env: ANYWIDGET_HMR=1

In [2]:
from grandscatter import Scatter
import pandas as pd
import pyarrow as pa

In [3]:
df = pd.read_feather("../../examples/eigs.arrow")
df

,chrom,start,end,kmeans8_5,name,color,E0,E1,E2,E3,E4,E5,E6,E7,E8,E9,__index_level_0__
0,chr1,900000,950000,0,A1,#e23838,0.44,0.05,0.23,0.09,0.44,0.86,0.19,0.36,0.64,0.39,18
1,chr1,950000,1000000,0,A1,#e23838,0.47,0.09,0.26,0.12,0.46,0.85,0.26,0.39,0.68,0.31,19
2,chr1,1000000,1050000,0,A1,#e23838,0.44,0.11,0.28,0.15,0.46,0.82,0.28,0.40,0.65,0.22,20
3,chr1,1050000,1100000,0,A1,#e23838,0.35,0.07,0.25,0.11,0.44,0.86,0.19,0.40,0.59,0.37,21
4,chr1,1100000,1150000,0,A1,#e23838,0.42,0.08,0.24,0.11,0.45,0.85,0.23,0.38,0.66,0.35,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48286,chr22,50500000,50550000,0,A1,#e23838,0.40,0.12,0.12,0.29,0.46,0.89,0.61,0.34,0.78,0.28,57502
48287,chr22,50550000,50600000,0,A1,#e23838,0.38,0.12,0.11,0.30,0.44,0.87,0.59,0.35,0.76,0.37,57503
48288,chr22,50600000,50650000,0,A1,#e23838,0.41,0.10,0.09,0.31,0.41,0.81,0.61,0.33,0.74,0.36,57504
48289,chr22,50650000,50700000,0,A1,#e23838,0.38,0.10,0.12,0.31,0.43,0.79,0.61,0.34,0.74,0.42,57505
48290,chr22,50700000,50750000,0,A1,#e23838,0.41,0.09,0.08,0.31,0.41,0.79,0.58,0.32,0.72,0.50,57506

In [4]:
colors = dict(
    zip(
        df[["name", "color"]].drop_duplicates()["name"].tolist(),
        df[["name", "color"]].drop_duplicates()["color"].tolist()
    )
)

In [5]:
widget = Scatter(df, ["E1", "E2", "E3", "E4", "E5"], "name", colors, projection="perspective")

In [6]:
widget

In [9]:
widget.axis_length = 5

In [ ]:
widget.view_angle = 90

In [ ]:
widget.projection = "orthographic"

In [ ]:
widget.base_point_size = 4